@using VBATMRC.Models
@{
    ViewBag.Title = "VBA Learning Catalog";
}


<div class="content-wrapper panel main-panel">    <!-- ANNOUNCEMENTS BALOON HERE -->
    @{
        if (ViewBag.Dev)
        {
        }
        Html.RenderPartial("_Announcements", new Announcement());
        Html.RenderPartial("_PageHeader");
    }
    <div class="content-wrapper">
        <div class="presentationPanel01">
            <div class="panel-body">
                <a target="_blank" href="https://vba-tpi.vbatraining.org/LC/">https://vba-tpi.vbatraining.org/LC/</a>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script type="text/javascript">
        var baseUrl = "@Url.Content("~")";
        baseUrl = baseUrl == "/" ? "" : baseUrl;
        baseUrl += "/Home/ReadXMLFromFile/";
    </script>
}
