@using VBATMRC.Models
@{
    ViewBag.Title = "What's New";
}

<div class="content-wrapper panel main-panel">
    <!-- ANNOUNCEMENTS BALOON HERE -->
    @{
        if (ViewBag.Dev)
        {
        }
        //Html.RenderPartial("_Announcements", new Announcement());
        Html.RenderPartial("_PageHeader");
        string fname;
    }

    <link href="@Url.Content("~/content/tmrcLocal.css")" rel="stylesheet" type="text/css">

    <div class="content-wrapper">
        <div class="presentationPanel01">
            <div class="panel-body">
                <h6 style="float: right; color: #808080;">Last Updated: 3/21/16</h6>

                <h2>Hot News</h2>
                <h3><strong>2016 TM Symposium Agenda</strong></h3><br />
                <p>2016 TM Symposium Agenda Coming Soon</p>
                <h3><strong>TM Symposium 2015</strong></h3><br />
                <p>TM Symposium 2015 presentations are now available:</p>
                <ul>
                    <li><a href="~/Assets/Documents/01_TMSymposium2015_TM_Network_Final.pdf" target="_blank">Training Manager Network: Who Know What?</a>
                        <ul><li>Presenters: Jeff Pearson, Ariadna Crawford</li></ul>
                    </li>

                    <li><a href="~/Assets/Documents/02_TMSymposium2015_Training Managers Profile_Final.pdf" target="_blank">Training Managers Profile</a>
                        <ul><li>Presenter: Ariadna Crawford</li></ul>
                    </li>

                    <li><a href="~/Assets/Documents/03_TMSymposium2015_Future Vision for Training_Final.pdf" target="_blank">Future Vision for Training</a>
                        <ul><li>Presenter: Dr. Mike Faughnan</li></ul>
                    </li>

                    <li><a href="~/Assets/Documents/04_TMSymposium2015_TMSupdate_Final.pdf" target="_blank">Handling Talent Management System (TMS) Issues</a>
                        <ul><li>Presenters: Mary Beth Barnett, Mark Hawkins, Christy Chesnut</li></ul>
                    </li>

                    <li><a href="~/Assets/Documents/05_TMSymposium2015_Local Leadership_Final.pdf" target="_blank">Developing Local Leadership Programs</a>
                        <ul><li>Presenter: Aaron Lee</li></ul>
                    </li>

                    <li><a href="~/Assets/Documents/06_TMSymposium2015_Problem Solving for TMs_Final.pdf" target="_blank">Problem Solving for Training Managers (TMs)</a>
                        <ul><li>Presenters: Dr. Mary Lee Herrick, Miriam Plaza, Dr. Noah Sulman</li></ul>
                    </li>

                    <li><a href="~/Assets/Documents/07_TMSymposium2015_Diagnostic Assessments_Final.pdf" target="_blank">Diagnostic Assessments</a>
                        <ul><li>Presenter: Jeff Pearson</li></ul>
                    </li>

                    <li><a href="~/Assets/Documents/08_TMSymposium2015_TrainingSupportTools-JobAids_Final.pdf" target="_blank">Training Support Tools and Job Aids</a>
                        <ul><li>Presenters: Dr. Erwin Wunderlich, Debbie Violett</li></ul>
                    </li>

                    <li><a href="~/Assets/Documents/09_TMSymposium2015_Instr_Cert_Final.pdf" target="_blank">Instructor Training & Certification Overview</a>
                        <ul><li>Presenters: Barry Pietrewicz and Debbie Violett</li></ul>
                    </li>

                    <li><a href="~/Assets/Documents/10_TMSymposium2015_TMBestPractices_Final.pdf" target="_blank">Training Managers (TMs) Best Practices</a>
                        <ul><li>Presenters: Mary Beth Barnett, Marcia Burns, Bob Reiher, Kyle Schmidt, Kathy Smith Sasse, Tina Rash, Jennifer Rollins</li></ul>
                    </li>
                    <li>
                        <a href="~/Assets/Documents/11_USB_TrainingManagerConf.pdf" target="_blank">USB Address to Training Managers</a>
                        <ul><li>Presenters: Under Secretary Allison Hickey</li></ul>
                    </li>
                </ul>
                <!-- Small modal -->


                <div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="content-wrapper panel main-panel">


                                <div class="content-wrapper">
                                    <div class="presentationPanel01">
                                        <section>
                                            <div class="panel-body">
                                                <p align="center"><strong>Event Title: TM Summer Learning Event:  Introduction to the VBA Virtual Schoolhouse for TMs</strong></p>
                                                <p align="center"><strong>Description:</strong> During this first learning event you will receive an orientation on accessing the VBA Virtual Schoolhouse to facilitate your participation throughout each of the TM Summer Learning Events. </p>
                                                <p align="center"><strong>Date: June 24, 2014</strong></p>
                                                <p align="center"><strong>Time: 3:00 - 4:00 PM Eastern Time</strong></p>
                                                <p align="center"><a href="https://iwt.gdit.com/moodle/" target="_blank">VBA Virtual Schoolhouse</a></p>
                                                <!--<p align="center"><a href="#">Minutes</a></p>
                                                <p align="center"><a href="#">Agenda</a></p>-->
                                                <p align="center"><a href="http://epss.vba.va.gov/iwt/Schoolhouse-Intro-6-24-14.wmv" target="_blank">Recording (presentation)</a></p>
                                                <p align="center"><a href="http://epss.vba.va.gov/iwt/SGP_062714.wmv" target="_blank">Recording (group exercises)</a></p>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>

                <div class="modal fade bs-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="content-wrapper panel main-panel">


                                <div class="content-wrapper">
                                    <div class="presentationPanel01">
                                        <section>
                                            <div class="panel-body">
                                                <p align="center"><strong>Event Title: TM Summer Learning Event:  How to Identify and Address the Regional Office Needs</strong></p>
                                                <p align="center"><strong>Description:</strong> Dr. Mary Lee Herrick will conduct a presentation on various sources of information that are available to the TMs. During this presentation the TMs will learn to identify the key points to make recommendations on the regional office needs.</p>
                                                <p align="center"><strong>Date: August 5, 2014</strong></p>
                                                <p align="center"><strong>Time: 1:00 - 2:00 PM Eastern Time</strong></p>
                                                <p align="center"><a href="https://iwt.gdit.com/moodle/" target="_blank">VBA Virtual Schoolhouse</a></p>
                                                <p align="center"><a href="http://epss.vba.va.gov/iwt/TM_Sum_Learn_Evt_Aug_08052014.wmv" target="_blank">Recording (presentation)</a></p>
                                                <p align="center"><a href="#" onclick="MyWindow=window.open('../Events/TMSummer8514','MyWindow','width=500,height=220'); return false;">Recording (group exercises)</a></p>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>

                        </div>




                    </div>
                </div>



                <div class="modal fade bs-example-modal-sm3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="content-wrapper panel main-panel">


                                <div class="content-wrapper">
                                    <div class="presentationPanel01">
                                        <section>
                                            <div class="panel-body">
                                                <p align="center"><strong>Event Title: TM Summer Learning Event: Champion’s Corner: Portland’s Root Cause Analysis Process</strong></p>
                                                <p align="center"><strong>Description:</strong> Kathy Smith-Sasse will present a procedure that she has created to assist supervisors identify the employee needs during the skill certification process and resetting TMS assessments.</p>
                                                <p align="center"><strong>Date: August 26, 2014</strong></p>
                                                <p align="center"><strong>Time: 1:00 - 3:00 PM Eastern Time</strong></p>
                                                <p align="center"><a href="https://iwt.gdit.com/moodle/" target="_blank">VBA Virtual Schoolhouse</a></p>

                                                <p align="center"><a href="#" onclick="MyWindow=window.open('../Events/TMSummer82614','MyWindow','width=500,height=220'); return false;">Recordings</a></p>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>

                        </div>




                    </div>
                </div>


                <div class="modal fade bs-example-modal-sm4" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="content-wrapper panel main-panel">


                                <div class="content-wrapper">
                                    <div class="presentationPanel01">
                                        <section>
                                            <div class="panel-body">
                                                <p align="center"><strong>Event Title: TM Summer Learning Event: Competency-Based Training System</strong></p>
                                                <p align="center"><strong>Description:</strong> Jeff Pearson from TT&E will deliver this fourth and final presentation that will introduce TMs to the new competency-based training system and the role Training Managers will have with this system.</p>
                                                <p align="center"><strong>Date: September 23, 2014</strong></p>
                                                <p align="center"><strong>Time: 1:00 - 3:00 PM Eastern Time</strong></p>
                                                <p align="center"><a href="https://iwt.gdit.com/moodle/" target="_blank">VBA Virtual Schoolhouse</a></p>
                                                <!--<p align="center"><a href="#">Minutes</a></p>
                                                <p align="center"><a href="#">Agenda</a></p>-->
                                                <p align="center" style="color: #808080;">Recording</p>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>

                        </div>




                    </div>
                </div>




            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script type="text/javascript">
        var baseUrl = "@Url.Content("~")";
        baseUrl = baseUrl == "/" ? "" : baseUrl;
        baseUrl += "/Home/ReadXMLFromFile/";
    </script>
}
