.content-wrapper .presentationPanel01 {
    background: transparent;
}

header .content-wrapper {
    background: transparent;
    background-image: none;
    padding: 0;
    top: 15px;
    position: relative;
    height: 7.5em;
    padding: 0;
}


.featured .content-wrapper {
    background: transparent;
}


.main-content {
    background-image: none !important;
    padding: 0;
    max-width: 1000px;
}

.main-panel {
    border-radius: 14px;
    min-width: 400px;
    max-width: 962px;
    margin: 0 auto !important;
    background: white;
}


.nav-custom > li > a:link, .nav-custom > li > a:visited {
    background-color: rgb(178, 193, 226);
}

.nav-custom > li > a:active, .nav-custom > li > a:hover {
    background-color: rgb(130, 140, 179);
    color: white !important;
}

.nav-btm-custom > li > a:link, .nav-btm-custom > li > a:visited {
    background-color: #0177c0;
}

.nav-btm-custom > li > a:active, .nav-btm-custom > li > a:hover {
    background-color: rgb(132, 186, 253);
    color: black !important;
}

.well-sm {
    border-radius: 16px;
}

.input-sm {
    padding: 5px 0;
}

.tile-ancor {
    background-color: #378fd0;
    width: inherit;
    border-style: none;
    border-radius: 12px;
}

.tile-ancor-transparent {
    background-color: transparent;
    width: inherit;
    border-style: none;
    border-radius: 12px;
    padding: 0;
    margin: 0;
    border-width: 0;
}

.tile-base {
    width: 130px;
    height: 130px;
    border-radius: 12px;
}


.BalloonConstrain {
    padding: 30px 80px 30px 70px !important;
}

.tilesRow {
    margin: 10px auto 0 auto;
}

#logoVBA a:hover {
    background: none;
}

.tiles {
    margin: 10px 33px;
    padding: 0;
}

.bkgrImage {
    background: Url("../Images/US_flag00.png") no-repeat left 0;
    background-color: transparent;
    margin-bottom: -20px;
    border-radius: 14px;
}
.navLp {
width: 24px;
height: 24px;
float: left;
margin-top: 55px;
margin-left: 166px;

}
.icoLpNav {
    
    width: 24px;
height: 24px;
    background: Url("../Images/icoLP00.png") no-repeat left 0;
}
#logoEDT {
margin: -35px -45px;
}



/* Ticker Styling */
.ticker-wrapper.has-js {
	padding: 0px 20px;
	width: 960px;
	height: 35px;
	display: block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #f8f0db;
	font-size: 12px;
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.3);
}
.ticker {
	width: 890px;
	height: 35px;
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #f8f0db;
}
.ticker-title {
	padding-top: 9px;
	color: #990000;
	font-weight: bold;
	background-color: #f8f0db;
	text-transform: uppercase;
}
.ticker-content {
	margin: 0px;
	padding-top: 9px;
	position: absolute;
	color: #1F527B;
	font-weight: bold;
	background-color: #f8f0db;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.3em;
    margin-left: -15px;
    margin-top: -1px;
}
.ticker-content:focus {
	display: none;
}
.ticker-content a {
	text-decoration: none;	
	color: #1F527B;
}
.ticker-content a:hover {
	text-decoration: underline;	
	color: #0D3059;
}
.ticker-swipe {
	padding-top: 9px;
    margin-top: 5px;
	position: absolute;
	top: 0px;
	background-color: #f8f0db;
	display: block;
	width: 850px;
	height: 20px; 
}
.ticker-swipe span {
	margin-left: 1px;
	background-color: #f8f0db;
	border-bottom: 1px solid #1F527B;
	height: 12px;
	width: 7px;
	display: block;
}
.ticker-controls {

	list-style-type: none;
	float: right;
    margin-left: 840px;
}
.ticker-controls li {
	padding: 0px;
	margin-left: 5px;
	float: left;
	cursor: pointer;
	height: 16px;
	width: 16px;
	display: block;
}
.ticker-controls li.jnt-play-pause {
	background-image: url('../Images/controls.png');
	background-position: 32px 16px;
}
.ticker-controls li.jnt-play-pause.over {
	background-position: 32px 32px;
}
.ticker-controls li.jnt-play-pause.down {
	background-position: 32px 0px;
}
.ticker-controls li.jnt-play-pause.paused {
	background-image: url('../Images/controls.png');	
	background-position: 48px 16px;
}
.ticker-controls li.jnt-play-pause.paused.over {
	background-position: 48px 32px;
}
.ticker-controls li.jnt-play-pause.paused.down {
	background-position: 48px 0px;
}
.ticker-controls li.jnt-prev {
	background-image: url('../Images/controls.png');
	background-position: 0px 16px;		
}
.ticker-controls li.jnt-prev.over {
	background-position: 0px 32px;		
}
.ticker-controls li.jnt-prev.down {
	background-position: 0px 0px;		
}
.ticker-controls li.jnt-next {
	background-image: url('../Images/controls.png');	
	background-position: 16px 16px;	
}
.ticker-controls li.jnt-next.over {
	background-position: 16px 32px;	
}
.ticker-controls li.jnt-next.down {	
	background-position: 16px 0px;	
}
.js-hidden {
	display: none;
}
.no-js-news {
	padding: 10px 0px 0px 45px; 
	color: #F8F0DB;
}
.left .ticker-swipe {
	/*left: 80px;*/
}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
    float: left;
}
.left .ticker-controls {
    padding-left: 6px;
}
.right .ticker-swipe {
	/*right: 80px;*/
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
    float: right;
}
.right .ticker-controls {
    padding-right: 6px;
}