@using VBATMRC.Models
@{
    ViewBag.Title = "Monthly TM Conference Call";
}

<script>
    function close_window() {
        close();

    }
</script>
<div class="content-wrapper panel main-panel">


    <div class="content-wrapper">
        <div class="presentationPanel01">
            <section>
                <div class="panel-body">
                    <p align="center"><strong>Event Title: Monthly TM Conference Call</strong></p>
                    <p align="center"><strong>Description:</strong> Monthly TM Conference Calls are scheduled for the 4<sup>th</sup> Tuesday of each month from 2:00 – 3:00 PM Eastern Time.  These calls are designed to share the most current information pertaining to training with all Training Managers. It also provides an open forum to address questions from the field.</p>
                    <p align="left"><strong>Date: 03/22/16</strong></p>
                    <p align="left"><strong>Time: 2:00 - 3:15 PM Eastern Time</strong></p>
                    <p align="left"><strong>Presentation Materials:</strong></p>
                        <ul>
                            <li><a href="~/Assets/Documents/March_2016_Main_Call_Slides.pdf" target="_blank">March 2016 Main Call Slides</a></li>
                            <li><a href="~/Assets/Documents/NEO_22_MAR.pdf" target="_blank">New Employee Orientation Best Practices</a></li>  
                        </ul>
                    
                    <p align="left"><a href="~/Assets/Documents/TM_Monthly_Call_Mar22_2016.pdf" target="_blank"><strong>March 2016 Call Minutes</strong></a></p>
                    <p align="center">To access a recording of the Lync session, please visit the <a href="https://vba-iwt.vbatraining.org/" target="_blank">VBA Virtual Schoolhouse</a></p>
                    <p align="left"><a href="#" onclick="close_window();return false;">Close</a></p>
                </div>
            </section>
        </div>
    </div>
</div