@using VBATMRC.Models
@{
    ViewBag.Title = "TM Resources";
}

<script>
    function close_window() {
        close();

    }
</script>
<div class="content-wrapper panel main-panel">


    <div class="content-wrapper">
        <div class="presentationPanel01">
            <section>
                <div class="panel-body">
                    <p align="center"><strong>Event Title: Monthly TM Conference Call</strong></p>
                    <p align="center"><strong>Description:</strong> Monthly TM Conference Calls are scheduled for the 4<sup>th</sup> Tuesday of each month from 2:00 – 3:00 PM Eastern Time.  These calls are designed to share the most current information pertaining to training with all Training Managers. It also provides an open forum to address questions from the field.</p>
                    <p align="left"><strong>Date: 11/20/15</strong></p>
                    <p align="left"><strong>Time: 2:00 - 3:45 PM Eastern Time</strong></p>
                    <p align="left"><strong>Presentation Materials:</strong></p>
                        <ul>
                            <li><a href="~/Assets/Documents/November_Intro_Slides_112015.pdf" target="_blank">November 2015 Main Call Slides</a></li>
                            <li><a href="~/Assets/Documents/Virtual_Classroom_Tips_Best_Practices.pdf" target="_blank">Virtual Classroom Best Practices</a></li>
                            <li><a href="~/Assets/Documents/Guide_to_Virtual_Classroom_Courtesies.pdf" target="_blank">Guide to Virtual Classroom Courtesies</a></li>
                            <li><a href="~/Assets/Documents/Training_Manager_Information.pdf" target="_blank">Training Managers Project Brief</a></li>
                            
                        </ul>
                    
                    <p align="left"><a href="~/Assets/Documents/TM_Monthly_Call_Nov20_2015.pdf" target="_blank"><strong>November 2015 Call Minutes</strong></a></p>
                    <p align="center">To access a recording of the Lync session, please visit the <a href="https://vba-iwt.vbatraining.org/" target="_blank">VBA Virtual Schoolhouse</a></p>
                    <p align="left"><a href="#" onclick="close_window();return false;">Close</a></p>
                </div>
            </section>
        </div>
    </div>
</div