@using VBATMRC.Models
@{
    ViewBag.Title = "TM Resources";
}

<script>
    function close_window() {
        close();

    }
</script>
<div class="content-wrapper panel main-panel">


    <div class="content-wrapper">
        <div class="presentationPanel01">
            <section>
                <div class="panel-body">
                    <p align="center"><strong>Event Title: TMS Administrators Community of Practice Call</strong></p>
                    <p align="center"><strong>Description:</strong> The National TMS Administrator Community of Practice call is held each Thursday from 1:00 – 2:30 PM ET.  This call is designed to share the most current information about TMS with all TMS Administrators and answer any questions they may have. In order to participate in these calls, you can obtain the VANTS call number and the Access Code through the VBA TMS Administrator Event Calendar link below.</p>
                    <p align="center"><strong>Date: Each Thursday</strong></p>
                    <p align="center"><strong>Time: 1:00 - 2:30 PM Eastern Time</strong></p>
                    <p align="center"><a href="http://vaww.infoshare.va.gov/sites/EDT/VBA_TMS_Admins/Lists/VBA%20TMS%20Administrator%20Event%20Calendar/calendar.aspx" target="_blank">VBA TMS Administrator Event Calendar</a></p>
                    <p align="left"><a href="#" onclick="close_window();return false;">Close</a></p>
                </div>
            </section>
        </div>
    </div>
</div>